<!-- Informations complémentaires -->
<section class="col-12 col-lg-6 col-xl-5 col-xxl-4 mt-4 mt-lg-0">
    <div class="card card-body">
        <header class="mb-4">
            <div class="d-flex justify-content-between align-items-center ">
                <h3 class="h5">{{ competenceTitle() }}</h3>
                <span class="fw-bold">{{ numberPost }}</span>
            </div>
        </header>

        <div class="d-flex flex-wrap gap-4">
            {% for competence in competences %}
                <div class="col-12">
                    <div class="d-flex justify-content-between align-items-center mb-1">
                        <p class="mb-0">{{ competence.name }}</p>
                        <p class="mb-0">{{ competence.posts.count }}</p>
                    </div>
                    <div class="progress" style="height: 2px">
                        <div 
                            class="progress-bar" 
                            style="width: {{ competence.posts.count / numberPost * 100 }}%; background-color: {{ competence.color }}"></div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Informations complémentaires -->